body {
    font-size: 16px;
    color: #000;
    font-family: 'Courier New', Courier, monospace;
  }

#header-nav{
    background-color: #800000;
    border-top:3px solid #000;
    border-bottom:3px solid #000;
    position: relative;
    box-sizing: border-box;
}
#a-food{
    color: #000;
    text-decoration:none ;
}
h1{
    margin-left: 20px;
}
h1 ,h2{
    font-weight: bold;
}

#a-food :hover{
    color: blue;
}
.li-Menu{
    size: 2em;
}

#navbarSupportedContent{
    background-color: #000ff0; 
}

.nav-item{
    font-weight: bold;
    color: #000;
    font-size: 1.1em;
}

/*main */
#main-content{
    margin-top: 30px;
}
#tilte-content{
    font-size: 1.5em;
    font-weight:bold;
}
#chiken-div,#beef-div,#sushi-div
{
    font-weight:1000;
    margin-top: 50px ;
    background-color: #800080;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
    border: 1px solid #000;
    background-color: #808080;
}
.navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
}
